# Since Homebrew requires a different install location on Apple Silicon and
# Intel we need to specify the location per machine. All this can be removed if
# we don't need to support Intel Macs.
{{ $homebrew_dir := "" }}
{{- if eq .chezmoi.arch "arm64" }}
{{- $homebrew_dir = "/opt/homebrew/bin" }}
{{- else }}
{{- $homebrew_dir = "/usr/local/bin" }}
{{- end -}}

[data.fish]
binary = "{{ $homebrew_dir }}/fish"

[data.homebrew]
binary = "{{ $homebrew_dir }}/brew"
